@model ElectricEase.Models.Parts_DetailsInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_estimLayout.cshtml";
}
<script src="~/Scripts/Nationwideparts.js"></script>

<div class="app-body" id="Scroll">
    <!-- app content here -->
    <div class="magic-layoutz">
        <div class="box magic-element width-full" id="">
            <fieldset>
                <div id="accordion" class="partsmobile">
                    <div class="box-row  profile-hd">
                        <h7 class="box-heading">
                            <strong id="title-cont"> &nbsp Add Part Details  </strong> <span class="pull-right apse b" style="padding-right:5px; color:#ffffff">
                                <img id="arrow" src="../Images/down-arrow.png" alt="" />
                            </span>
                        </h7>
                    </div>
                    <div id="divaddparts">
                        <div id="collapseOne" class="panel-collapse collapse in">
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="ajax-refresh2">
                                                <div class="panel-body">
                                                    @*<input type="hidden" value=" @ViewBag.LoginUser " id="loguser" />*@
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="Part_Category"><strong>Category<span class="err">*</span>:</strong></label>
                                                                <span id="Category_errmsg" class="error"></span>
                                                                @Html.DropDownListFor(m => m.Part_Category, ViewBag.PartCategory as SelectList, "Select", new { Name = "Part_Category selectpicker", @class = "form-control selectpicker", data_type = "other", onchange = "ShowOtherCategory(this.value);" })
                                                                <span class="err" id="spancategoryerror" style="display:none">Select category</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="OtherPart_Category"><strong>If "Other" Category <span class="err" style="display:none;" id="othercategory">*</span> :</strong></label>
                                                                @Html.TextBoxFor(m => m.OtherPart_Category, new { @class = "form-control", @maxlength = "30", @placeholder = "", disabled = "disabled" })
                                                                <span class="err" id="spanothercategoryerror" style="display:none">Enter other category</span>
                                                                <span class="err" id="spaninvalidothercategoryerror" style="display:none">Other can't be used as a category name</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="Part_Number"><strong>Part Number <span class="err">*</span>:</strong></label>
                                                                @if (Model.Part_Number == null || Model.Part_Number == "")
                                                                {
                                                                    @Html.TextBoxFor(m => m.Part_Number, new { @class = "form-control", @maxlength = "30", @placeholder = "Part Number" })
                                                                    <span class="err" id="partnumsg"></span>
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(m => m.Part_Number, new { @class = "form-control", @maxlength = "30", @placeholder = "Part Number", disabled = "disabled" })
                                                                }
                                                                <span class="err" id="spanpartnumbererror" style="display:none">Enter part number</span>
                                                                <span id="PartNumber_errmsg" class="error"></span>
                                                                @Html.ValidationMessageFor(m => m.Part_Number)
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="label"><strong>My Cost<span class="err">*</span>:</strong></label>
                                                                @if (Model.Cost == 0 || Model.Cost == 0.00M)
                                                                {
                                                                    <input type="text" value="" id="Cost" class="form-control" maxlength="8" placeholder="0.00" style="text-align:right" />
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @maxlength = "8", @placeholder = "0.00", style = "text-align:right" })
                                                                }
                                                                <span id="errmsg" class="error"></span>
                                                                @Html.ValidationMessageFor(m => m.Cost)
                                                                <span id="PartNumber_errmsg" class="error"></span>
                                                                <span class="err" id="spanmycosterror" style="display:none">Enter my cost</span>
                                                                @*<input type="text" class="form-control" name="MyCost" id="IPurchaseRate" maxlength="8" placeholder="0.00" tabindex="5" onkeypress="return numbersonly(event)" style="text-align: right;">*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="title"><strong>My Description:</strong></label>
                                                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @maxlength = "50", @placeholder = "My Description" })
                                                                @Html.ValidationMessageFor(m => m.Description)
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="label"><strong>UOM :</strong></label>
                                                                @Html.TextBoxFor(m => m.UOM, new { @class = "form-control", @maxlength = "20", @placeholder = "Unit of measurement" })
                                                                @*<input type="text" class="form-control" name="PurchasedFrom" id="Ipurchasefrom" autofocus maxlength="50" placeholder="Purchased from" tabindex="1" onkeypress="return onKeyValidate(event,alphanumeric);">*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="label"><strong>Resale :</strong></label>
                                                                @if (Model.Resale_Cost == 0 || Model.Resale_Cost == 0.00M)
                                                                {
                                                                    <input type="text" class="form-control" maxlength="8" placeholder="0.00" id="Rcost" style="text-align:right" />
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(m => m.Resale_Cost, new { @class = "form-control", @maxlength = "8", @placeholder = "0.00", @id = "Rcost", style = "text-align:right" })
                                                                }
                                                                <span id="RCosterrmsg" class="error"></span>
                                                                <span id="spanresaleerror" style="display:none;" class="error">"Resale price should be higher than “My Cost” price."</span>
                                                                @Html.ValidationMessageFor(m => m.Resale_Cost)
                                                                @*<input type="text" class="form-control" name="ResaleCost" id="IPurchaseRate" maxlength="8" placeholder="0.00" tabindex="5" onkeypress="return numbersonly(event)" style="text-align: right;">*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="label"><strong>Purchased From :</strong></label>
                                                                @Html.TextBoxFor(m => m.Purchased_From, new { @class = "form-control", @maxlength = "50", @placeholder = "Purchased from" })
                                                                @*<input type="text" class="form-control" name="PurchasedFrom" id="Ipurchasefrom" autofocus maxlength="50" placeholder="Purchased from" tabindex="1" onkeypress="return onKeyValidate(event,alphanumeric);">*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="label"><strong>Labor Unit :</strong></label>
                                                                @if (Model.LaborUnit == 0 || Model.LaborUnit == 0.0000M)
                                                                {
                                                                    <input type="text" class="form-control" placeholder="0.0000" id="LaborUnit" style="text-align:right"  />
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(m => m.LaborUnit, new { @class = "form-control", @placeholder = "0.0000", style = "text-align:right" })
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <br />
                                                        <div class="col-md-6">
                                                            <input type="button" value="Download Template" class="btn btn-flat btn-primary btn-sm" style="background-color: #3276b1" id="downloadtemp" onclick="window.open('../Parts_Data_Template.xlsx')" />
                                                            <input type="file" id="importfile" style="display: none" onchange="ImportParts()" accept=".xls,.xlsx" />
                                                            <input type="button" id="btnimport" class="btn btn-flat btn-primary btn-sm" style="background-color: #3276b1" value="Import Parts" onclick="confirmImport();" />

                                                        </div>
                                                        <div class="col-md-6">
                                                            <button onclick="SuperAdminParts();" value="Submit" class="btn btn-flat btn-primary btn-sm" name="addLabour" id="saveb" tabindex="10" style="width: 49%">Save </button>
                                                            <a href="#" class="btn btn-flat btn-default btn-sm" role="button" tabindex="11" id="Reset" style="width: 49%" onclick="ResetAll();">Clear </a>
                                                            <button onclick="SuperAdminParts();" value="Submit" class="btn btn-flat btn-primary btn-sm " name="addLabour" id="updateb" tabindex="10" style="width: 49%;display:none;">Update </button>
                                                            <a href="#" class="btn btn-flat btn-default btn-sm" role="button" tabindex="11" style="width:49%;display:none;" id="Cancel" onclick="Cancel();">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer clearfix">
                                                    @if (ViewBag.distcompany == -1)
                                                    {
                                                        <div>
                                                            <label for="title"> <span style="color:#f00">Note:</span>For parts import, the "Part Number & Part Category" are the mandatory fields.</label><br />
                                                            <button style="display:none" data-toggle="modal" data-target="#failedreport" id="failedbtn" class="btn btn-primary">Click here for "Parts Import" report</button>
                                                        </div>
                                                    }
                                                    else if (HttpContext.Current.User.IsInRole("Admin"))
                                                    {
                                                        <div>
                                                            <label for="title"> <span style="color:#f00">Note:</span>For parts import, the "Part Number & Part Category" are the mandatory fields.</label><br />
                                                            <button style="display:none" data-toggle="modal" data-target="#failedreport" id="failedbtn" class="btn btn-primary">Click here for "Parts Import" report</button>
                                                        </div>
                                                    }
                                                </div>
                                                @if (Model.Part_Number != "" && Model.Part_Number != null)
                                                {
                                                    <div class="panel-footer clearfix">
                                                        <div class="pull-left" style="font-size: x-small;">
                                                            <div>
                                                                <label style="color: #3D81BD !important;">Created By  : &nbsp @Model.Created_By on<span></span> @Model.Created_Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right" style=" font-size: x-small;">
                                                            <div>
                                                                <label style="color: #3D81BD !important;">Updated By  : &nbsp @Model.Updated_By on<span></span> @Model.Updated_Date</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-row  profile-hd">
                        <h7 class="box-heading">
                            <strong> &nbsp  Parts List </strong> <span id="togglecont" class="pull-right apse b" style="padding-right:5px; color:#ffffff">
                                <img id="arrow" src="../Images/down-arrow.png" alt="" />
                            </span>
                        </h7>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.DropDownList("Part_CategoryList", ViewBag.FilterParts as SelectList, new { Name = "Part_Category", @class = "form-control input-sm", data_type = "other", onchange = "getpartslist(this.value);" })
                            </div>
                        </div>
                        <div id="SAdminpartslist">
                            @Html.Partial("_GetNationalPartsList")
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div id="failedreport" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 50%; margin-left: 30%; margin-top: 60px;">
        <div class="modal-header" style="background-color: #333333; height: 35px;">
            <button type="button" class="close" data-dismiss="modal" id="SowPreviewpopupclose" style="color: white !important; opacity: 0.9;">&times;</button>
            <h4 class="modal-title" id="sowhead" style="color: #FFF !important;">Parts Imports Report</h4>
        </div>
        <div class="modal-content" style="overflow: hidden; border-radius: 0; min-height: 185px;">
            <div class="col-md-12">
                <div id="lblreport" style="color:#000"></div>
                <div>Please click @Html.ActionLink(linkText: "here", actionName: "GenerateExcelReport", controllerName: "NationwideParts") for status report.</div>
            </div>
            <div class="pull-right popup-btn">
                <button value="Submit" data-dismiss="modal" class="btn btn-flat btn-primary btn-sm" name="addLabour" tabindex="10" onclick="">Ok</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#Cost,#Resale_Cost,#Rcost").keypress(function (event) {
        var $this = $(this);
        if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
            ((event.which < 48 || event.which > 57) &&
                (event.which != 0 && event.which != 8))) {
            event.preventDefault();
        }

        var text = $(this).val();
        if ((event.which == 46) && (text.indexOf('.') == -1)) {
            setTimeout(function () {
                if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                    $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                }
            }, 1);
        }

        if ((text.indexOf('.') != -1) &&
            (text.substring(text.indexOf('.')).length > 2) &&
            (event.which != 0 && event.which != 8) &&
            ($(this)[0].selectionStart >= text.length - 2)) {
            event.preventDefault();
        }
    });

    $("#Part_Category").change(function () {
        if ($("#Part_Category").val() == "0" || $("#Part_Category").val() == "other") {
            $("#othercategory").show();
        } else {
            $("#othercategory").hide();
        }
    });

</script>