@model ElectricEase.Models.LoginInfo
@{
    ViewBag.Title = "ChagePassword";
    Layout = "~/Views/Shared/_estimLoginLayout.cshtml";
}
<style>
    .main {
        margin-top: 100px;
        margin-left: 300px;
    }
    .material-icons 
    {
            font-size: 50px!important;
    }
    
</style>

<script>
    function SavePassword() {
        
        var newpassword = $("#NewPassword").val();
        var confirmpwd = $("#ConfirmPassword").val();
        var email = $("#TempEmail").val();
        
        if (newpassword != "" && confirmpwd != "")
        {
            if (newpassword == confirmpwd) {
                $.ajax({
                    url: '../Login/SaveNewPassword',
                    data: { "newpassword": newpassword, "confirmpassword": confirmpwd, "Email": email },
                    type: 'POST',
                    success: function (data) {
                        if (data == "Success") {
                            DisplayNotification("Password is \"Reset\". Click \"Home\" button for login!", "success");
                            $("#NewPassword").val("");
                            $("#ConfirmPassword").val("");
                            $("#homebtn").removeAttr('style');
                        }
                        else
                        {
                            DisplayNotification("Invalid password!", "error");
                        }

                    },
                    error: function (err) {
                        DisplayNotification("Invalid password!", "error");
                    }
                    
                })
            }
            else {
                DisplayNotification("Password is \"Mismatched\"!", "error");
            }
        }
        else
        {
            DisplayNotification("Please fill \"New Password\" & \"Confirm Password\" fields.)", "error");
        }
        
       
    }
    function SendResetLink() {
        
        var email = $("#TempEmail").val();
        if (email != "") {
            $.ajax({
                url: '../Login/ForgotPassword',
                data: { Email: email },
                type: 'POST',
                success: function (data) {
                    var msg = $("#errmsg").val();
                    if (msg == "") {
                        $("#DivForgotPasswordSent").html(data);
                        $("#wrapper").hide();
                    }
                    else {
                        
                        $("#recover").show();
                        //$("#wrapper").hide();
                        DisplayNotification("Email ID is required. Please check the email!", "error")
                    }
                    //$("#DivForgotPasswordSent").html(data);
                    //$("#wrapper").hide();
                    //if ($('#sentstatus').val() != "" && $('#sentstatus').val() == "User Not Exist") {
                    //    DisplayNotification("User Not Exist", "error");
                    //    window.localStorage.setItem("isclick", "Forgot");
                    //    window.location.href = "../Login/Login";
                    //}

                }

            })
        }
        else {
            DisplayNotification("Email ID is required!", "error");
        }
    }
</script>

@if (ViewBag.SuccessMsg != null)
{ 
    <script>
        DisplayNotification("\"Password\" update successfully.", "success");
    </script>
}
@if (ViewBag.FailMsg != null)
{ 
    <script>
        DisplayNotification("Error occurred while updating password!", "error");
    </script>
}

<input type="hidden" value="@ViewBag.fpErrorMsg"  id="errmsg" />
<div id="DivForgotPasswordSent">

    </div>
@if (ViewBag.ValidKey != null)
{ 
@*<script>
        DisplayNotification("Password Link is valid", "success");
    </script>*@
   
    
    
    
    <section id="wrapper" class="container">
        <section id="signin" class="sign-wrapper signin transition-layout">
            <div class="row">
                <div class="col-md-offset-4 loginwrapper">
                    <div class="sign-brand">

                        <img src="~/AppImges/logo_electricease.png" alt="Brand" style="height: 94px;" />
                    </div>
                    <!-- /sign-brand -->
                    <div class="sign-container">
                        <div class="row">
                            <div class="group">
                                    <span class="highlight"></span>
                                    @Html.PasswordFor(m => m.NewPassword, new { @maxlength = "100", @placeholder = " New Password" })
                                     @Html.ValidationMessageFor(m => m.NewPassword)
                                     <label>New Password <span class="err">*</span>:</label>


                                </div>
                            <div class="group">
                                    <span class="highlight"></span>
                                   @Html.PasswordFor(m => m.ConfirmPassword, new { @maxlength = "100", @placeholder = " Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                     <label>Confirm Password <span class="err">*</span>:</label>


                                </div>

                            <div class="form-group">
                                    <div class="input-group" style="width: 95%;">
                                         <button value="Submit"class="btn btn-lg btn-primary btn-block" name="addLabour" tabindex="10" onclick="SavePassword();">submit</button>
                                    </div>

                                </div>
                            <div class="main" style="display:none">
                                <div>
                                    <div>
                                        <input type="hidden" name="email" value="@Model.TempEmail" id="TempEmail"/>
                                        <label for="title" style="color: #fff"><strong>New Password <span class="err">*</span> :</strong></label>
                                        @Html.PasswordFor(m => m.NewPassword, new { @maxlength = "100", @placeholder = " New Password" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </div>
                                </div>


                                <div>
                                    <div>
                                        <div>
                                            <label for="title" style="color: #fff"><strong>Confirm Password <span class="err">*</span> :</strong></label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @maxlength = "100", @placeholder = " Confirm Password" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <button value="Submit" class="btn btn-flat btn-primary btn-sm" name="addLabour" tabindex="10" onclick="SavePassword();">submit</button>
                                </div>

                            </div>
                        </div>
                        <div>
                            
                        </div>

                    </div>
                    <!-- /sign-container -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="sign-footer" id="homebtn"style="display:none">
                 <a href="../"  class="btn btn-link text-inverse" style="color:white !important; width: 28px; text-decoration: none; font-weight: bold;"><i class="material-icons">home</i> <br />&nbsp Home </a>
            </div>
            <!-- /sign-footer -->
        </section>
        <!-- /signin -->
        
        <!-- /recover -->
    </section>
   
}

@if (ViewBag.InValidKey != null)
{
    <script>
        DisplayNotification("Password Link” is invalid!", "error");
    </script>

    <section id="wrapper" class="container">
        <section id="signin" class="sign-wrapper signin transition-layout">
            <div class="row">
                <div class="col-md-offset-4 loginwrapper">
                    <div class="sign-brand">

                        <img src="~/AppImges/logo_electricease.png" alt="Brand" style="height: 94px;" />
                    </div>
                    <!-- /sign-brand -->
                    <div class="sign-container">
                        <div class="row">
                            Your Password Link is “Expired”!. Please Click below to Reset a Password Link!.
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="input-group" style="width: 95%;">
                                    <div class="pull-right">
                                        <a href="#recover" data-toggle="transition-layout" class="btn btn-link text-inverse" style="color: #b91d47;">Click here</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /sign-container -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="sign-footer">
            </div>
            <!-- /sign-footer -->
        </section>
        <!-- /signin -->



        <section id="recover" class="sign-wrapper recover transition-layout">

            <div class="row">
                <div class="col-md-offset-4 loginwrapper">
                    <div class="sign-brand">
                        <img src="~/AppImges/logo_electricease.png" alt="Brand" style="height: 94px;" />
                    </div>
                    <div class="sign-container">

                        @* @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                        {
                            *@
                        <div class="group">
                                    <span class="highlight"></span>
                                   @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Email" })
                                    <label>Enter your User ID and we will send you a link to reset your password</label>
                                </div>
                        
                        <div class="form-group">
                                    <div class="input-group" style="width: 95%;">
                                        <button value="Submit" class="btn btn-lg btn-success btn-block"  name="addLabour" tabindex="10" onclick="SendResetLink();">submit</button>
                                    </div>

                                </div>

                        @*  }*@

                    </div>
                   
                </div>
                <!-- /col -->
            </div>
            <div class="row" style="display:none">
                <div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
                    <div class="sign-brand">
                        <img src="~/AppImges/logo_electricease.png" alt="Brand" style="height: 52px; width: 51%;" />

                    </div>
                    <!-- /sign-brand -->
                    <div class="sign-container">

                        @* @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                        {
                            *@
                        <div class="form-group">
                            @Html.TextBox("Email", "", new { @class = "form-control input-lg", placeholder = "Email" })
                            <small class="help-block text-inverse">Enter your User ID and we will send you a link to reset your password</small>
                        </div>
                        <!-- /form-group -->
                        <div class="form-group">
                            @*<input type="submit" class="btn btn-lg btn-success btn-block" onclick="SendResetLink();" value="Send reset link">*@
                            <button value="Submit" class="btn btn-lg btn-success btn-block"  name="addLabour" tabindex="10" onclick="SendResetLink();">submit</button>
                        </div>

                        @*  }*@

                    </div>
                    <!-- /sign-container -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="sign-footer">
                <a href="#signin" data-toggle="transition-layout" class="btn btn-link text-inverse">Sign In</a>
            </div>
            <!-- /sign-footer -->
        </section>
        <!-- /recover -->
    </section>

   
}


