@model List<ElectricEase.Models.Parts_DetailsInfoList>
@{
    Layout = null;
}

<script>
   $(document).ready(function () {
        var pagelen = 5;
        var tab = $("#JobAssemblyPartsTable").dataTable({
            "order": [[0, "desc"]],
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "aLengthMenu": [[5, 10, 15, 25, 100], [5, 10, 15, 25, 100]],
            "iDisplayLength": pagelen,
            "sDom": '<"top"flp>rt<"bottom"pri>',
            "tableTools": {
                "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                },
                {
                    "sExtends": "xls",
                    "oSelectorOpts": {
                        page: 'current'
                    }
                }]
        },
        "proccessing": true,
        "serverSide": true,
        "ajax": {
            url: "@Url.Action("PartsDatatable", "Job")" ,
            type: 'POST',
            contentType: "application/json",
            data: function (d) {
                var assemblyname = $("#assemblyname").val().trim().replace(/ /g, "_");
                d.extra_search = Cookies.get('partsfilter');
                var lstpartnum = "";
                if (document.getElementById("ASPselectall").checked == true && d.search.value != "" && d.search.value != null) {
                    lstpartnum = "selectall";
                }
                else {
                    var tablRows = $('#' + assemblyname + '_partstbodyassem tr');
                    i = 0;
                    if (tablRows.length > 0) {
                        $('#' + assemblyname + '_partstbodyassem tr').each(function () {
                            var customerId = $(this).find("#partnumber").html();
                            customerId = customerId.replace("+","\\+");
                            lstpartnum += customerId.trim() + ",";
                        });
                    }

                    var tablRows = $('#' + assemblyname + '_partstbody tr');
                    i = 0;
                    if (tablRows.length > 0) {
                        $('#' + assemblyname + '_partstbody tr').each(function () {
                            var customerId = $(this).find("#partnumber").html();
                            customerId = customerId.replace("+","\\+");
                            lstpartnum += customerId.trim() + ",";
                        });
                    }
                }
                d.existing_data = lstpartnum;
                d.clientID = $('#Client_Id').val();
                return JSON.stringify(d);
            }
        },
        "fnDrawCallback": function (oSettings) {
            //  alert('DataTables has redrawn the table');
            $('#JobAssemblyPartsTable').find("input:checkbox").each(function () {
                if (this.checked == true) {
                    i++
                }
                var tablerowlength = $("#showaspbody tr").length;
                if (tablerowlength == i) {

                document.getElementById("ASPselectall").checked = true;
                }
            });

            if (i == 0) {
                $("#Npsubmit").attr('disabled', 'disabled');
            }
            $('#Part_Category').val("ALL");
        },
        //"initComplete": function (settings, json) {
        //    alert('com' + json);
        //    // call your function here
        //},
        "language": {
            "search": "",
            "searchPlaceholder": "Search..."
        },
        "columns": [{"mData": "ID"},
            {
                "data": function (o) {
                    var partnaumber = o.Part_Number;
                    partnaumber = partnaumber.trim().replace(/\\/g, "\\\\").replace("'", "\'");//.replace("+","\+");
                    if (o.isChekced == true) {
                        return '<input type="checkbox" id="' + partnaumber + '" onclick="AssemblyPartselectrow(this)" data-id="' + o.Client_ID + '" value="' + partnaumber + '" checked="checked" />';
                    }
                    else {
                        return '<input type="checkbox" id="' + partnaumber + '" onclick="AssemblyPartselectrow(this)" data-id="' + o.Client_ID + '" value="' + partnaumber + '" />';
                    }
                }, orderable: false},
                { "data": "Part_Category" },
                { "data": "Description" },
                { "data": "Part_Number" },
                { "data": "Cost" },
                { "data": "Resale_Cost" }

            ]
        });


        //if (Cookies.get('nationpartsearch') != null && Cookies.get('nationpartsearch') != "") {
        //    tab.fnFilter(Cookies.get('nationpartsearch'));
        //}
        //$('#JobAssemblyPartsTable_filter input').on("keyup", function () {
        //    Cookies.set('nationpartsearch', $(this).val());
        //    document.getElementById("ASPselectall").checked = false;
        //});
       $("#JobAssemblyPartsTable").on('draw.dt', function () {
           debugger;
            for (var i = 0; i < assemblySelectedParts.length; i++) {
                checkboxId = assemblySelectedParts[i];
                $('#' + checkboxId).attr('checked', true);
            }
            if (assemblySelectedParts.length > 0) {
                $("#Npsubmit").removeAttr('disabled', 'disabled');
            }
            else {
                $("#Npsubmit").attr('disabled', 'disabled');
            }
        });
        $('#JobAssemblyPartsTable tbody').on('click', 'tr', function () {
            var checkbx = $(this).find("input[type=checkbox]");
            i = 0;
            var check = checkbx[0];
            if (typeof check != 'undefined') {
                if (checkbx[0].checked == false) {
                    checkbx[0].checked = true;
                    assemblySelectedParts.push(checkbx[0].value);
                }
                else {
                    document.getElementById("ASPselectall").checked = false;
                    checkbx[0].checked = false;
                    if (assemblySelectedParts.indexOf(checkbx[0].value) > -1)
                        assemblySelectedParts.splice(assemblySelectedParts.indexOf(checkbx[0].value), 1);
                }
            }
            else {
                if (this.checked == false) {
                    this.checked = true;
                    assemblySelectedParts.push(val.id);
                }
                else {
                    document.getElementById("ASPselectall").checked = false;
                    this.checked = false;
                    if (assemblySelectedParts.indexOf(val.id) > -1)
                        assemblySelectedParts.splice(assemblySelectedParts.indexOf(val.id), 1);
                }
            }
            //Here to check select all checkbox if all prts are Selected
            $('#JobAssemblyPartsTable').find("input:checkbox").each(function () {
                if (this.checked == true) {
                    i++
                }
                var tablerowlength = $("#showaspbody tr").length;
                if (tablerowlength == i) {

                    document.getElementById("ASPselectall").checked = true;
                }
            });

            if (assemblySelectedParts.length == 0) {
                $("#Npsubmit").attr('disabled', 'disabled');
            }
            else {
                $("#Npsubmit").removeAttr('disabled', 'disabled');

            }
        });


    });
    function pselectall(val) {

        if (Cookies.get('nationpartsearch') == "" || Cookies.get('nationpartsearch') == null) {
            DisplayNotification("You can't add all parts at one", "error");
            document.getElementById("ASPselectall").checked = false;
            return false;
        }
        var vauese = $(val).val();
        var selected = $(val).attr('checked');
        var table = $('#JobAssemblyPartsTable').dataTable();
        var allPages = table.fnGetNodes();
        if (val.checked) {
            $("input:checkbox", table.fnGetNodes()).each(function () {
                var value = this.value;
                if (value != "ASPselectall") {
                    if (assemblySelectedParts.indexOf(this.value) == -1)
                        assemblySelectedParts.push(this.value);
                }
                this.checked = true;
            });
            $("#Npsubmit").removeAttr('disabled', 'disabled');
        }
        else {
            $("input:checkbox", table.fnGetNodes()).each(function () {
                if (assemblySelectedParts.indexOf(this.value) > -1)
                    assemblySelectedParts.splice(assemblySelectedParts.indexOf(this.value), 1);
                this.checked = false;
            });
            $("#Npsubmit").attr('disabled', 'disabled');
        }
    }

</script>

<div class="table-resposive" style="max-height: 500px; overflow-y: auto">
    <table id="JobAssemblyPartsTable" class="table table-bordered datatables" cellspacing="0" width="100%">

        <thead style="background-color: #45525F">
            <tr>
                <th>ID</th>
                <th style="width:10%">
                    <input type="checkbox" value="selectall" id="ASPselectall" onchange="pselectall(this);" />Select All
                </th>
                <th>
                    Part Category
                </th>
                <th>
                    Description
                </th>
                <th>
                    Part Number
                </th>
                <th>
                    My Cost
                </th>
                <th>
                    Resale
                </th>
            </tr>
        </thead>
        <tbody id="showaspbody"></tbody>
    </table>
</div>

@if (Model != null)
{
    <input type="hidden" id="assemblyname" value="@Model[0].AssemblyName" />
}

<div class="pull-right popup-btn">
    <button type="button" value="Submit" class="btn btn-flat btn-primary btn-sm" id="submit" onclick="saveassemblyparts('@Model[0].AssemblyName');" tabindex="10">Submit</button>
</div>

    @*<script>
            $(document).ready(function () {
                var rows_selected = [];
                $("#partstable").dataTable({
                    "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [0] }
                    ]
                });
            });
            function selectall(val) {
                var selected = $(val).attr('checked');
                if (val.checked) {
                    $('#partstable').find("input:checkbox").each(function () {

                        this.checked = true;
                    });
                }
                else {
                    $('#partstable').find("input:checkbox").each(function () {

                        this.checked = false;
                    });
                }
            }
            $('#partstable').on('page.dt', function () {
                $('#ASPselectall').removeAttr('checked');
            });
        </script>

        <div class="table-resposive" style="max-height: 500px;overflow-y:auto">
            <table class="table" id="partstable">
                <thead>
                    <tr>
                        <th style="width:10%">
                            <input type="checkbox" value="selectall" id="ASPselectall" onchange="selectall(this);" />Select All
                        </th>
                        <th>Part Number</th>
                        <th>Part Category</th>
                        <th>My Cost</th>
                        <th>Resale</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="showaspbody">
                    @if (Model != null)
                    {
                        <input type="hidden" id="assemblyname" value="@Model[0].AssemblyName" />
                        foreach (var item in Model)
                        {
                            string disabled = "";
                            string onclick = "AssemblyPartselectrow(this);";
                            if (item.isChekced == true)
                            {
                                if (item.isdiabled == true)
                                {
                                    onclick = "";
                                    disabled = "disabled";
                                }
                            }
                            <tr onclick="@onclick" style="cursor:pointer">
                                <td>
                                    @if (item.isChekced == true)
                                    {
                                        <input type="checkbox" onclick="@onclick" id="@item.Part_Number" @disabled data-id="@item.Client_ID" value="@item.Part_Number" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" onclick="@onclick " id="@item.Part_Number" data-id="@item.Client_ID" value="@item.Part_Number" />
                                    }
                                </td>
                                <td>
                                    @item.Part_Number
                                </td>
                                <td>
                                    @item.Part_Category
                                </td>
                                <td>
                                    @item.Cost
                                </td>
                                <td>
                                    @item.Resale_Cost
                                </td>
                                <td>
                                    @item.Description
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="row" style="margin:1%">
            <div class="row-fluid">

                <div class="pull-right popup-btn">
                    <button type="button" value="Submit" class="btn btn-flat btn-primary btn-sm" id="submit" onclick="saveassemblyparts('@Model[0].AssemblyName');" tabindex="10">Submit</button>
                </div>

            </div>
        </div>*@
