@model List<ElectricEase.Models.Parts_DetailsInfoList>
@{
    Layout = null;
    string isdisabled = "Partsselectrow(this);";
}

<script>
   $(document).ready(function () {
        var pagelen = 5;
        var tab = $("#partstable").dataTable({
            "order": [[0, "desc"]],
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "aLengthMenu": [[5, 10, 15, 25, 100], [5, 10, 15, 25, 100]],
            "iDisplayLength": pagelen,
            "sDom": '<"top"flp>rt<"bottom"pri>',
            "tableTools": {
                "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                },
                {
                    "sExtends": "xls",
                    "oSelectorOpts": {
                        page: 'current'
                    }
                }]
        },
        "proccessing": true,
        "serverSide": true,
        "ajax": {
            url: "@Url.Action("PartsDatatable", "Assemblies_Master")",
            type: 'POST',
            contentType: "application/json",
            data: function (d) {
                d.extra_search = Cookies.get('partsfilter');
                var lstpartnum = "";
                if (document.getElementById("selectall").checked == true && d.search.value != "" && d.search.value != null) {
                    lstpartnum = "selectall";
                }
                else {
                    var tablRows = $('#partstbody tr ');
                    i = 0;
                    if (tablRows.length > 0) {
                        
                        $('#partstbody tr ').each(function () {
                            var customerId = $(this).find("#partnumber").html();

                            if (customerId != undefined) {
                                customerId = customerId.replace("+","\\+");
                                lstpartnum += customerId.trim() + ",";
                            }
                        });
                    }
                }
                d.existing_data = lstpartnum;
                d.clientID = $('#Client_Id').val();
                return JSON.stringify(d);
            }
        },
        "fnDrawCallback": function (oSettings) {
            //  alert('DataTables has redrawn the table');
            $('#partstable').find("input:checkbox").each(function () {
                if (this.checked == true) {
                    i++
                }
                var tablerowlength = $("#JobPartsBody tr").length;
                if (tablerowlength == i) {

                document.getElementById("selectall").checked = true;
                }
            });

            if (i == 0) {
                $("#Npsubmit").attr('disabled', 'disabled');
            }
            $('#Part_Category').val("ALL");
        },
        //"initComplete": function (settings, json) {
        //    alert('com' + json);
        //    // call your function here
        //},
        "language": {
            "search": "",
            "searchPlaceholder": "Search..."
        },
        "columns": [{"mData": "ID"},
            {
                "data": function (o) {
                    var partnaumber = o.Part_Number;
                    partnaumber = partnaumber.trim().replace(/\\/g, "\\\\").replace("'", "\'");//.replace("+","\+");
                    if (o.isChekced == true) {
                        return '<input type="checkbox" id="' + partnaumber + '" onclick="Partsselectrow(this)" data-id="' + o.Client_ID + '" value="' + partnaumber + '" checked="checked" />';
                    }
                    else {
                        return '<input type="checkbox" id="' + partnaumber + '" onclick="Partsselectrow(this)" data-id="' + o.Client_ID + '" value="' + partnaumber + '" />';
                    }
                }, orderable: false},
                { "data": "Part_Category" },
                { "data": "Description" },
                { "data": "Part_Number" },
                { "data": "Cost" },
                { "data": "Resale_Cost" }

            ]
        });


        //if (Cookies.get('nationpartsearch') != null && Cookies.get('nationpartsearch') != "") {
        //    tab.fnFilter(Cookies.get('nationpartsearch'));
        //}
        //$('#partstable_filter input').on("keyup", function () {
        //    Cookies.set('nationpartsearch', $(this).val());
        //    document.getElementById("selectall").checked = false;
        //});


        $("#partstable").on('draw.dt', function () {
            for (var i = 0; i < partsselectedpart.length; i++) {
                checkboxId = partsselectedpart[i];
                $('#' + checkboxId).attr('checked', true);
            }
            if (partsselectedpart.length > 0) {
                $("#Npsubmit").removeAttr('disabled', 'disabled');
            }
            else {
                $("#Npsubmit").attr('disabled', 'disabled');
            }
        });

        $('#partstable tbody').on('click', 'tr', function () {
            var checkbx = $(this).find("input[type=checkbox]");
            i = 0;
            var check = checkbx[0];
            if (typeof check != 'undefined') {
                if (checkbx[0].checked == false) {
                    checkbx[0].checked = true;
                    partsselectedpart.push(checkbx[0].value);
                }
                else {
                    document.getElementById("selectall").checked = false;
                    checkbx[0].checked = false;
                    if (partsselectedpart.indexOf(checkbx[0].value) > -1)
                        partsselectedpart.splice(partsselectedpart.indexOf(checkbx[0].value), 1);
                }
            }
            else {
                if (this.checked == false) {
                    this.checked = true;
                    //partsselectedpart.push(val.id);
                }
                else {
                    document.getElementById("selectall").checked = false;
                    this.checked = false;
                    //if (partsselectedpart.indexOf(val.id) > -1)
                    //    partsselectedpart.splice(partsselectedpart.indexOf(val.id), 1);
                }
            }
            //Here to check select all checkbox if all prts are Selected
            $('#partstable').find("input:checkbox").each(function () {
                if (this.checked == true) {
                    i++
                }
                var tablerowlength = $("#JobPartsBody tr").length;
                if (tablerowlength == i) {

                    document.getElementById("selectall").checked = true;
                }
            });

            if (partsselectedpart.length == 0) {
                $("#Npsubmit").attr('disabled', 'disabled');
            }
            else {
                $("#Npsubmit").removeAttr('disabled', 'disabled');

            }
        });


    });
    function pselectall(val) {

        if (Cookies.get('nationpartsearch') == "" || Cookies.get('nationpartsearch') == null) {
            DisplayNotification("You can't add all parts at one", "error");
            document.getElementById("selectall").checked = false;
            return false;
        }
        var vauese = $(val).val();
        var selected = $(val).attr('checked');
        var table = $('#partstable').dataTable();
        var allPages = table.fnGetNodes();
        if (val.checked) {
            //partsselectedpart = [];
            $("input:checkbox", table.fnGetNodes()).each(function () {
                var value = this.value;
                if (value != "selectall") {
                    if (partsselectedpart.indexOf(this.value) == -1)
                        partsselectedpart.push(this.value);
                }
                this.checked = true;
            });
            $("#Npsubmit").removeAttr('disabled', 'disabled');
        }
        else {
            $("input:checkbox", table.fnGetNodes()).each(function () {
                if (partsselectedpart.indexOf(this.value) > -1)
                    partsselectedpart.splice(partsselectedpart.indexOf(this.value), 1);
                this.checked = false;
            });
            $("#Npsubmit").attr('disabled', 'disabled');
        }
    }

</script>

<div class="table-resposive" style="max-height: 500px; overflow-y: auto">
    <table id="partstable" class="table table-bordered datatables" cellspacing="0" width="100%">

        <thead style="background-color: #45525F">
            <tr>
                <th>ID</th>
                <th style="width:10%">
                    <input type="checkbox" value="selectall" id="selectall" onchange="pselectall(this);" />Select All
                </th>
                <th>
                    Part Category
                </th>
                <th>
                    Description
                </th>
                <th>
                    Part Number
                </th>
                <th>
                    My Cost
                </th>
                <th>
                    Resale
                </th>
            </tr>
        </thead>
        <tbody id="JobPartsBody"></tbody>
    </table>
</div>

<div class="pull-right popup-btn">
    <button type="button" value="Submit" class="btn btn-flat btn-primary btn-sm " style="margin: 2px" id="submit" onclick="saveparts('selected');" tabindex="10">Submit</button>
</div>




@*<script>
        $(document).ready(function () {
            var rows_selected = [];
            $("#partstable").dataTable({
                "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [0] }
                ]
            });
            //{
            //    "bPaginate": false,
            //    "bLengthChange": false,
            //    }
        });
        function selectall(val) {

            var selected = $(val).attr('checked');
            if (val.checked) {
                //partsselectedpart = [];
                $('#partstable').find("input:checkbox").each(function () {
                    if (partsselectedpart.indexOf(this.id) == -1)
                        partsselectedpart.push(this.id);
                    this.checked = true;
                });
            }
            else {
                $('#partstable').find("input:checkbox").each(function () {
                    //partsselectedpart = [];
                    if (partsselectedpart.indexOf(this.id) > -1 && this.disabled==false)
                        partsselectedpart.splice(partsselectedpart.indexOf(this.id), 1);
                    if (!this.disabled)
                        this.checked = false;
                });
            }
        }
        $('#partstable').on('page.dt', function () {
            $('#partsselectall').removeAttr('checked');
        });

    </script>

    <div class="table-resposive" style="max-height: 500px;overflow-y:auto">
        <table class="table" id="partstable">
            <thead>
                <tr>
                    <th style="width:10%">
                        <input type="checkbox" value="selectall" id="partsselectall" onchange="selectall(this);" />Select All
                    </th>
                    <th>Part Category</th>
                    <th style="width:250px">Description</th>
                    <th>Part Number</th>
                    <th>My Cost</th>
                    <th>Resale</th>

                </tr>
            </thead>
            <tbody id="showpartsbody">
                @foreach (var item in Model)
                {
                    if (item.isChekced == true)
                    {
                        isdisabled = "";
                    }
                    else
                    {
                        isdisabled = "Partsselectrow(this);";
                    }
                    <tr onclick="@isdisabled" style="cursor:pointer">
                        <td>
                            @if (item.isChekced == true)
                            {
                                <input type="checkbox" id="@item.Part_Number" data-id="@item.Client_ID" disabled value="@item.Part_Number" checked="checked" />
                            }
                            else
                            {
                                <input type="checkbox" id="@item.Part_Number" data-id="@item.Client_ID" onclick="Partsselectrow(this);" value="@item.Part_Number" />
                            }
                        </td>
                        <td>
                            @item.Part_Category
                        </td>
                        <td>
                            @{
                                string desc = "";
                                desc = item.Description == null ? "" : item.Description;
                                if (desc.Length > 100)
                                {
                                    desc = desc.Substring(0, 50) + "...";
                                }
                                <span>@desc</span>
                            }

                        </td>
                        <td>
                            @item.Part_Number
                        </td>

                        <td>
                            @item.Cost
                        </td>
                        <td>
                            @item.Resale_Cost
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row" style="margin:1%">
        <div class="row-fluid">

            <div class="pull-right popup-btn">
                <button type="button" value="Submit" class="btn btn-flat btn-primary btn-sm" id="submit" onclick="saveparts('selected');" tabindex="10">Submit</button>
            </div>

        </div>
    </div>*@
