@model ElectricEase.Models.Labor_DetailsInfo

@{
    Layout = "";
}
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<script>
    $(function () {
        setRegexValidations();
    });

    function calc() {
        var cost = 0;
        var burden = 0;
        cost = $('#Rate').val();
        burden = $('#burden').val();
        if (isNaN(cost)) {
            cost = 0;
        }
        if (isNaN(burden)) {
            burden = 0;
        }
        var total = (Number(cost) + ((Number(cost)) * ((Number(burden)) / 100)));
        if (isNaN(total)) {
            total = 0;
        }
        $('#Cost').val(Number(total).toFixed(2));
    }



</script>
<style>
    img#upimg {
        margin-left: 30%;
    }

    .controls > input,
    .controls > select,
    .controls > .row,
    .controls > .input-group,
    .controls > .form-group > .input-group {
        margin-bottom: 15px;
    }

    table.dataTable tr.odd {
        background-color: rgba(153, 153, 153, 0.29);
    }

    table.dataTable tr.even {
        background-color: rgba(52, 73, 94, 0.33);
    }

    .dataTables_filter {
        padding-bottom: 35px;
    }

    .btn btn-primary btn-xs toggle-on {
        background-color: #2ecc71;
    }
</style>
<!-- app content here -->
<div class="row">
    <div class="col-md-20">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="ajax-refresh2">
                    <div class="panel-body">
                        <input type="hidden" value=" @ViewBag.LoginUser " id="loguser" />
                        <div class="row">
                            @if (HttpContext.Current.User.IsInRole("Admin"))
                            {@*<input type="hidden"  id="Client_ID" value="@Model.Client_ID"/>*@

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="hidden" value="Admin" id="IsAdmin" />
                                    <label for="Client_ID"><strong>Client Name  <span class="err">*</span>:</strong></label>
                                    @if (Model.Laborer_Name == null)
                                    {
                                        @Html.DropDownListFor(m => m.Client_ID, ViewBag.Clientid as SelectList, "Select", new { Name = "Client_ID", @class = "form-control selectpicker", onchange = "GetLaborCatgory(this);" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.Client_ID, ViewBag.Clientid as SelectList, "Select", new { Name = "Client_ID", @class = "form-control selectpicker", disabled = "disabled" })
                                    }
                                </div>
                            </div>

                        }
                        else
                        {
                            <input type="hidden" value="NotAdmin" id="IsAdmin" />
                        }
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Labor_Category"><strong>Category <span class="err">*</span>:</strong></label>
                                    @if (HttpContext.Current.User.IsInRole("Admin"))
                                    {
                                        if (Model.Laborer_Name == null)
                                        {
                                            @Html.DropDownListFor(m => m.Labor_Category, ViewBag.LaborCategory as SelectList, "Select", new { Name = "Labor_Category", @class = "form-control selectpicker", onchange = "ShowOtherCategory(this.value);", disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.Labor_Category, ViewBag.LaborCategory as SelectList, "Select", new { Name = "Labor_Category", @class = "form-control selectpicker", onchange = "ShowOtherCategory(this.value);" })
                                        }

                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.Labor_Category, ViewBag.LaborCategory as SelectList, "Select", new { Name = "Labor_Category", @class = "form-control selectpicker", onchange = "ShowOtherCategory(this.value);" })
                                    }



                                    @Html.ValidationMessageFor(m => m.Labor_Category)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="label"><strong>If Other Category <span class="err" id="spnCatError" style="display:none">*</span>:</strong></label>
                                    @Html.TextBoxFor(m => m.otherLabor_Category, new { @class = "form-control", @maxlength = "30", @placeholder = "", disabled = "disabled" })

                                </div>
                            </div>
                            @if (Model.Laborer_Name == null)
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="label"><strong>Labor Name <span class="err">*</span>:</strong></label>
                                        @Html.TextBoxFor(m => m.Laborer_Name, new { @class = "form-control", @maxlength = "30", @placeholder = "", onchange = "labornameValidate(this);" })
                                        @Html.ValidationMessageFor(m => m.Laborer_Name)
                                        <span class="err" id="labormsg"></span>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="label"><strong>Labor Name <span class="err">*</span>:</strong></label>
                                        @Html.TextBoxFor(m => m.Laborer_Name, new { @class = "form-control", @maxlength = "30", @placeholder = "", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.Laborer_Name)
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="label"><strong>Rate  <span class="err">*</span>:</strong></label>
                                    @if (Model.Rate == 0 || Model.Rate == 0.00M)
                                    {
                                        <input type="text" value="" id="Rate" class="form-control" maxlength="8" placeholder="0.00" style="text-align:right" onkeyup="checknum(this); calc()" />
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.Rate, new { @class = "form-control", @maxlength = "8", @placeholder = "0.00", style = "text-align:right", onkeyup = "checknum(this);calc()" })
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="label"><strong>Burden<span class="err">*</span> :</strong></label>
                                    @Html.TextBoxFor(m => m.burden, new { @class = "form-control", @placeholder = "", style = "text-align:right", onkeyup = "checknum(this);calc()" })
                                    <span style="width: 12px;float: right;margin-top: -21px;margin-right: -5px;">%</span>
                                    <span id="burdenerrmsg" class="error"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="label"><strong>Cost<span class="err">*</span>:</strong></label>
                                    @if (Model.Cost == Model.Cost * Model.burden)
                                    {
                                        <input type="text" class="form-control" value="" maxlength="8" placeholder="0.00" id="Cost" style="text-align:right" disabled onkeyup="checknum(this);" />
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @maxlength = "8", @placeholder = "0.00", @id = "Cost", style = "text-align:right", onkeyup = "checknum(this);", disabled = "disabled" })
                                    }
                                    <span id="RCosterrmsg" class="error"></span>
                                    @Html.ValidationMessageFor(m => m.Resale_Cost)
                                    @*<input type="text" class="form-control" name="ResaleCost" id="IPurchaseRate" maxlength="8" placeholder="0.00" tabindex="5" onkeypress="return numbersonly(event)" style="text-align: right;">*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="label"><strong>Resale<span class="err">*</span>:</strong></label>
                                    @Html.TextBoxFor(m => m.Resale_Cost, new { @class = "form-control", @maxlength = "8", @placeholder = "0.00", @id = "Rcost", style = "text-align:right", onkeyup = "checknum(this);" })
                                    <span id="Rsaleerrmsg" class="error"></span>
                                    @Html.ValidationMessageFor(m => m.Resale_Cost)
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="title"><strong>Gender &nbsp&nbsp :</strong></label>
                                    @Html.CheckBoxFor(m => m.Gender, new { @class = "form-control", data_toggle = "toggle", data_on = "M", data_off = "F", data_size = "mini", data_offstyle = "danger", @value = true })
                                    @*@Html.CheckBoxFor(m => m.Job_Administrator)*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="title"><strong>My Description :</strong></label>
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control labordes", @style = " resize: none;", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Description)
                                </div>
                            </div>
                            @if (Model.Photo == null)
                            {
                                <div class="col-md-3" style="padding-top: 1%;">
                                    <div class="form-group">
                                        <label for="lable"><strong>Photo :</strong></label>
                                        @Html.TextBoxFor(m => m.UploadedFile, new { type = "file", id = "fileupload", onchange = "GetImage(this);" })
                                        @Html.ValidationMessageFor(m => m.UploadedFile)
                                        <label id="requirdMsg"></label>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-top: 1%;">
                                    <div class="form-group" id="dvPreview">
                                    </div>
                                </div>
                            }
                            @if (Model.Photo != null)
                            {
                                <div class="col-md-3" style="padding-top: 2% !important;">
                                    <div class="form-group">
                                        <label for="lable"><strong>Photo :</strong></label>
                                        @Html.TextBoxFor(m => m.UploadedFile, new { type = "file", id = "fileupload", onchange = "GetImage(this);" })

                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-top:1%">
                                    <div class="form-group" id="dvPreview" style="display: none"></div>
                                    <div class="form-group" id="firstlogo">

                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" id="upimg" width="85" height="85" />
                                    </div>
                                </div>
                            }
                        </div>                        
                    </div>

                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right" style="width: 35%">
                    @if (Model.Laborer_Name == null || Model.Laborer_Name == "")
                    {
                        <button value="Submit" class="btn btn-flat btn-primary btn-sm" name="addLabour" id="submit" tabindex="10" style="width: 49%" onclick="CheckisExistingLabor();">Save </button>
                        <a href="#" class="btn btn-flat btn-default btn-sm" role="button" tabindex="11" id="Reset" style="width: 49%" onclick="ResetAll();">Clear</a>
                    }
                    else
                    {
                        <button value="Submit" class="btn btn-flat btn-primary btn-sm" name="addLabour" id="submit" tabindex="10" style="width: 49%" onclick="savelabour();">Update </button>
                        <a href="#" class="btn btn-flat btn-default btn-sm" role="button" tabindex="11" style="width:49%;" id="Cancel" onclick="Cancel();">Cancel</a>
                    }

                </div>
            </div>
            @if (Model.Laborer_Name != "" && Model.Laborer_Name != null)
            {
                <div class="panel-footer clearfix">

                    <div class="pull-left" style="font-size: x-small;">
                        <div>
                            <label style="color: #3D81BD !important;">Created By  : &nbsp @Model.Created_By on<span></span> @Model.Created_Date</label>

                        </div>

                    </div>

                    <div class="pull-right" style=" font-size x-small;">
                        <div>
                            <label style="color: #3D81BD !important;">Updated By  : &nbsp @Model.Updated_By on<span></span> @Model.Updated_Date</label>

                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap-toggle.min.js"></script>

